@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf)
        format("woff2");
}

body {
    user-select: none;
}

.header {
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 10;
    height: 160px;
}

.mobile_navbar {
    border-top: 1px solid rgba(227, 227, 227, 0.514);
}
